@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;
    --border: 0 0% 92%;
    --radius: 0.375rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-white text-foreground antialiased;
  }

  html {
    scroll-behavior: smooth;
  }
}
